@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
    ViewData["Title"] = "Đặt dịch vụ";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<button type="button" onclick="document.getElementById('formModal').reset();" class="d-none btn btn-success" data-toggle="modal" data-target="#exampleModal">
    Tạo mới
</button>
<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Đặt dịch vụ</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Dịch vụ</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Loại dịch vụ</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Đặt lịch</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Trạng thái</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Khách hàng</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">SĐT</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Giá</th>                     
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ServiceOrderModel item in ViewBag.ListServiceOrder)
                            {
                                <tr>
                                    <td>
                                        <p class="mx-3 text-xs font-weight-bold mb-0">@item.ServicePackage</p>
                                    </td>
                                    <td>
                                        <p class="mx-3 text-xs font-weight-bold mb-0">@item.ServiceType</p>
                                    </td>
                                    <td>
                                        <p class="mx-3 text-xs font-weight-bold mb-0">@item.OrderDate</p>
                                    </td>
                                    <td class="align-middle">
                                        <span class="text-secondary text-xs font-weight-bold">@item.OrderType</span>
                                    </td>
                                    <td class="align-middle">
                                        <span class="text-secondary text-xs font-weight-bold">@item.FullName - (@item.UserName)</span>
                                    </td>
                                    <td class="align-middle">
                                        <span class="text-secondary text-xs font-weight-bold">@item.PhoneNumber</span>
                                    </td>
                                    <td class="align-middle">
                                        @if (item.Price != 0)
                                        {
                                            <span class="text-secondary text-xs font-weight-bold">@item.Price</span>
                                        }
                                    </td>

                                    <td class="align-middle">
                                        <a href="javascript:;" onclick="showPopup(@item.ServiceOrderId,'@item.OrderDate')" data-toggle="modal" data-target="#exampleModal" class="@(item.OrderTypeEnum == OrderTypeEnum.Cancel || item.OrderTypeEnum == OrderTypeEnum.Paid || item.OrderTypeEnum == OrderTypeEnum.Unsuccessful ? "d-none" : "") text-secondary font-weight-bold text-xs">
                                            Thay đổi trạng thái
                                        </a>
                                        <a href="javascript:;" onclick="paymentItem(@item.ServiceOrderId)" class="@(item.OrderTypeEnum == OrderTypeEnum.InUse ? "" : "d-none") mx-3 text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit">
                                            Tạo hóa đơn
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="formModal" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thay đổi trạng thái dịch vụ</h5>
                <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="display:block" class="form-group input-group input-group-outline">
                    <input type="number" name="Id" id="service-order-id" hidden />
                    <p id="order-date-id"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="changeOrderType(3)" class="btn btn-primary">Đã thanh toán</button>
                <button type="button" onclick="changeOrderType(6)" class="btn btn-primary">Thanh toán thất bại</button>
                <button type="button" onclick="changeOrderType(1)" class="btn btn-primary">Sử dụng dịch vụ</button>
                <button type="button" onclick="changeOrderType(4)" class="btn btn-primary">Hủy dịch vụ</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    document.getElementById('ListServiceOrderId').classList.add('active');
    
    function showPopup(id,date) {
        document.getElementById('service-order-id').value = id;
        document.getElementById('order-date-id').innerHTML = "Dịch vụ được đặt lịch lúc: " + date;

    }

    function changeOrderType(orderType) {
        var id = document.getElementById('service-order-id').value;
        $.ajax(
            {
                url: `/Admin/ChangeServiceOrderType?id=${id}&orderType=${orderType}`,
                type: "GET",
                headers:
                {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                //data: formData,
                //dataType: "json",
                async: true,
                processData: false,
                contentType: false,
                success: function (data) {
                    alert(data);
                    window.location.reload();
                }
            }
        );
    }

    function paymentItem(id) {
        if (confirm("Bạn có muốn tạo đơn thanh toán ?") == false) return;
        //var formData = new FormData();
        $.ajax(
            {
                url: `/Admin/ChangeServiceOrderType?id=${id}&orderType=${2}`,
                type: "GET",
                headers:
                {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                //data: formData,
                //dataType: "json",
                async: true,
                processData: false,
                contentType: false,
                success: function (data) {
                    alert(data);
                    window.location.reload();
                }
            }
        );

    }
</script>